.form-input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.form-input label {
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.form-input input {
    width: 15rem;
    padding: 0.4rem;
}

.get-route-btn button {
    border: 0;
    background-color: green;
    color: #fff;
    padding: 0.5rem;
    margin: 0.2rem 0;
    cursor: pointer;
}

.get-route-btn button:disabled,
.get-route-btn button[disabled]{
  opacity: 0.5;
}