.form-input-controls {
  display: flex;
}

.form-input-controls button {
  border: 0;
  font-weight: bold;
  background-color: #e2e2e2;
  cursor: pointer;
}

.get-route-btn button {
  border: 0;
  padding: 0.5rem;
  margin: 0.2rem 0;
  cursor: pointer;
}

.submit-btn {
  background-color: green;

  color: #fff;
  margin-right: 1rem !important;
}

.reset-btn {
  background-color: burlywood;
  color: black;
}

.get-route-btn button:disabled,
.get-route-btn button[disabled] {
  opacity: 0.5;
}

.info-container {
  padding: 1rem 0;
}
